/*Cards*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-flow: column;
}

.homecontainer {
  display: grid;
  grid-template-columns: 25% 75%;
}

.container-card {
  grid-column: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.listcs {
  grid-column: 1;
  display: flex;
  flex-flow: column;
  border-right: #d6d4ce;
  border-right-style: solid;
}
.titulocs {
  display: grid;
  height: 3vw;
  justify-content: center;
  font-size: 2vw;
}
.titulocs:hover {
  color: #2fb4cc;
}
#miscs {
  font-size: 2.1;
  border-bottom: #d6d4ce;
  border-bottom-style: solid;
}
.card {
  width: 17vw;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
  min-width: 250px;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card img {
  width: 100%;
  height: 210px;
}
.card .contenido-card {
  padding: 15px;
  text-align: center;
}
.card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}
.card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}
.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}
.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
  }
  .card {
    width: 85vw;
    margin: 15px;
  }
}
